@media(max-device-width: 320px) {
/* .menu { width:400px; } IPHONE */
} 

@media  (min-device-width: 768px) and  (max-device-width: 1024px){
    /* .menu { width:400px; } IPAD */
} 

@media (min-device-width: 1024px) and  (max-device-width: 1200px){
  
} 

body, html{
    margin:0;
    padding:0;
	font-family:Helvetica, Arial, sans-serif;
	margin:0;
	padding:0;
    font-size:100%;
    background-color:white;
}
.main{
    margin:0 auto;
    overflow:hidden;
}
.header{
    width:100%;
    padding:0.5em;
    background:lightgray;   
    float: left;
    padding-left:3em
}
#menu li{
    display: inline;
}
.header{
    
}
.header h1{
   float:left;
   width: 27em;
}
.content{
    background-color: white;
    width:60%
}
div.formulario{
    width:40%;
    float:left;
    margin:1em 1em 0 1em;
}
div.lista{
    width:50%;
    float:left;
}    
.sidebar{
    background-color:white;
    float:left;   
    color:black;
    font-size: 1em;
    width: 26em;
    height: 3em;
    margin-top:1em;
}
div.formulario  .Inputgroup{    
    width:91%;
    padding:1em;
}
div.formulario  .Inputgroup input, div.formulario  .Inputgroup select{    
    width:91%;
    padding:0.31em;
}
div.formulario  .Inputgroup select{
    width:94%;
}
div.formulario form{
    width:100%;
    border : 1px solid black;
    margin:0 0 2em 0;  
}
div.formulario form h2 { font-size:100%;}
.gridview{
    border-top:1px solid black;
    border-collapse:collapse;
    width:150%;
    text-align:left;
}

.gridview tr{
   border-top:1px solid black;   
}

.gridview th.sinal{
    width:3em;
    text-align:center;
}
.gridview th.mercadoria{
    width:40em;  
}
.gridview th.valor{
    width:28em;
}
button{
    background-color:#505050;
    color:white;
    width:100%;
}




